@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root{
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}
*{
    box-sizing: border-box;
}

body{
    background-color: #f6f7fb;
    background-image: url("https://images.unsplash.com/photo-1532381551255-ba7ed60072c9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Muli', sans-serif;
    display: flex;
    /* align-items: baseline; */
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: black;
}

#main-header{
    background-color: rgba(11,86,139,0.25);
    color: #fff;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    position: absolute;
    top: 0px;
}
.header-text{
    padding-left: 20px;
}
.header-text h3{
    padding: 0;
    margin: 10px;
}
.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 70px;
    margin-bottom: 30px;
    max-width: 100%;
    width: 90vw;
}
.progress-container::before{
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: .4s ease;
}

.circle.active{
    border-color: var(--line-border-fill);
}

.btn{
    background-color: var(--line-border-empty);
    color: #fff;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    font-family: inherit;
    padding: 25px;
    margin: 5px;
    font-size: 14px;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}
.btn:hover{
    transition: 1s ease;
    transform: scale(1.1);
}
#prev{
    position: relative;
    top: -30%;
    right: 35%;
}
#next{
    position: relative;
    top: -30%;
    left: 35%;
}

/* Panel section  */
.panel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    border-radius: 50px;
    color: black;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    display: none;

}

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
    display: block;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media(max-width: 480px){
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4), 
    .panel:nth-of-type(4){
        display: none;
    }
}
label,
textarea {
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: black;
    
}
textarea {
    padding: 10px;
    padding-bottom: 390px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    color: black;
    width: 100%;
    overflow-y: hidden;
    position: absolute;
    top: 10vh;
    left: 25%;
    opacity: 0.8;
}

label {
    display: block;
    margin-bottom: 0px;
}